
@section scripts {
<script>
        $(document).ready(function () {
             $("#deviceButton").mousedown(function () {
            $.ajax({
                type: "GET",
                data: { "hubConnectionString": $("#connectionString").val(), "deviceId": $("#deviceId").val() },
                url: '@Url.Action("DeviceConnection", "IotHub")',
                success: displayDevice,
       error: function(xhr, ajaxOptions, thrownError) {
           alert(xhr.status);
           alert(thrownError);
          }
        });
            });

            $("#copyButton").mousedown(function () {
                var input = document.querySelector('#deviceConnection');

                if (window.getSelection) {
                    selection = window.getSelection();
                    range = document.createRange();
                    range.selectNodeContents(input);
                    selection.removeAllRanges();
                    selection.addRange(range);
                } else if (document.body.createTextRange) {
                    range = document.body.createTextRange();
                    range.moveToElementText(input);
                    range.select();
                }

                var success = document.execCommand('copy');
       });

        function displayDevice(deviceConnection) {
            $("#deviceConnection").html(deviceConnection);
        }
 });

</script>
}

<div class="jumbotron">
    <h1>IoT Device Demos</h1>
    <p class="lead">
        Here you will find some Demos for Iot Devices.
    </p>
</div>

<div class="container">
    <h2>Create a Device</h2>
    <div class="row" style="padding-top:0.5em;">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="input-group">
                        <input type="text" id="connectionString" class="form-control" placeholder="Hub connection String" aria-label="Hub connection String" aria-describedby="basic-addon2">
                        <input type="text" id="deviceId" class="form-control" placeholder="Device Id" aria-label="Device Id" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button id="deviceButton" class="btn btn-default" type="button">CreateDevice</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p id="deviceConnection">
                    </p>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button id="copyButton" class="btn btn-default" type="button">Copy</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
